<div>
    <section class="apresentacao">
        <h1>Lucas Sotero R Abreu</h1>
        <p>Desenvolvedor Front-End</p>
    </section>
    <section class="foto">
        <img src="assets/imagess/apresentacao-fotoDev.jpg" alt="Foto de Lucas Sotero">
    </section>
    <section class="socialMedia">
        <ul>
            <li>
                <a href="https://www.linkedin.com/in/lucas-sotero-9011871b6/" target="blank">
                    <img src="../../../../../docs/assets/images/icons/linkedin.svg" alt="Linkedin">
                </a>
            </li>
            <li>
                <a href="mailto:luucassotero@gmail.com?subject=Olá, consegui seu gmail pelo seu portfólio.">
                    <img src="docs/assets/imagess/icons/gmail.svg" alt="Gmail">
                </a>
            </li>
            <li>
                <a href="https://github.com/lucassoteroo" target="blank">
                    <img src="./docs/assets/imagess/icons/github.svg" alt="Github">
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/luucassotero/" target="blank">
                    <img src="assets/imagess/icons/instagram.svg" alt="Instagram">
                </a>
            </li>
        </ul>
    </section>
</div>