<div>
    <section class="apresentacao">
        <h1>Lucas Sotero R Abreu</h1>
        <p>Desenvolvedor Front-End</p>
    </section>
    <section class="foto">
        <img src="./assets/images/apresentacao-fotoDev.jpg" alt="Foto de Lucas Sotero">
    </section>
    <section class="socialMedia">
        <ul>
            <li>
                <a href="https://www.linkedin.com/in/lucas-sotero-9011871b6/" target="blank">
                    <!-- <img src="./assets/images/icons/linkedin.svg" alt="Linkedin"> -->
                    <div class="icon-contato linkedin"></div>
                </a>
            </li>
            <li>
                <a href="mailto:luucassotero@gmail.com?subject=Olá, consegui seu gmail pelo seu portfólio.">
                    <!-- <img src="./assets/images/icons/gmail.svg" alt="Gmail"> -->
                    <div class="icon-contato gmail"></div>
                </a>
            </li>
            <li>
                <a href="https://github.com/lucassoteroo" target="blank">
                    <!-- <img src="./assets/images/icons/github.svg" alt="Github"> -->
                    <div class="icon-contato github"></div>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/luucassotero/" target="blank">
                    <!-- <img src="./assets/images/icons/instagram.svg" alt="Instagram"> -->
                    <div class="icon-contato instagram"></div>
                </a>
            </li>
        </ul>
    </section>
</div>