<header class="container">
    <button (click)="toggleMenu()" class="btn-mobile">
        <span id="hamburguer"></span>
        Menu
    </button>
    <nav [ngClass]="{'active': valor, 'disabled': !valor}">
        <ul>
            <li><a [routerLink]="['']">Home</a></li>
            <li><a [routerLink]="['/sobre']">Sobre</a></li>
            <li><a [routerLink]="['/projetos']">Projetos</a></li>
            <li><a [routerLink]="['/tecnologias']">Tecnologias</a></li>
            <li><a [routerLink]="['/certificados']">Certificados</a></li>
        </ul>
    </nav>
    <!-- <button type="button">
        <img src="/assets/icons/sun.svg" alt="Ícone de sol">
    </button> -->
</header>