@import '../../../../assets/scss/mixin';

:host {
    .container {
        button {
            display: none;
        }

        background-color: var(--primary);
        width: 100%;

        nav {
            ul {
                height: 60px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                li {
                    font-size: 18px;
                    font-weight: 900;
                    padding-left: 60px;

                    a {
                        color: var(--black);
                    }
                }
            }
        }

        // button {
        //     img {
        //         width: 21px;
        //     }
        // }
    }
}

// Responsividade para Tablet
@media screen and (max-width: 1024px) {
    :host {
        .container {
            padding: 15px 15px;
            width: 96.1vw;
            @include nav-media-scren(18px);
        }
    }
}

// Responsividade para Mobile
@media screen and (max-width: 480px) {
    :host {
        .container {
            padding: 15px 15px;
            width: 92.6vw;
            @include nav-media-scren(16px);

            .btn-mobile {
                padding-bottom: 10px;
            }

            nav {
                ul {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                }
            }
        }
    }
}