@mixin page-h1 {
    text-align: center;
    color: var(--black);
    font-size: 28px;
    font-weight: 900;
    padding-bottom: 20px;
    border-bottom: 3px solid var(--black);
}

@mixin page-dados-espacamento($top, $right, $bottom, $left) {
    padding: $top $right $bottom $left;
}

@mixin page-dados-espacamento-tablet {
    padding: 0px;
    padding-top: 70px;
    margin: unset;

    h1 {
        width: 90%;
    }
}

@mixin page-formacao($align) {
    padding: 20px 0px;
    text-align: $align;

    p {
        color: #000;
    }

    .local {
        font-weight: 900;
        padding: 20px 0px;
    }

    .data {
        font-style: italic;
    }
}

@mixin page-formacao-grid {
    grid-column-start: 1;
    grid-column-end: 3;
}

@mixin nav-media-scren($button-font-size) {
    button {
        display: block;
        font-size: $button-font-size;
        color: var(--black);
    }

    nav.active {
        height: 60px;
        transition: .6s;
        visibility: visible;
        overflow-y: auto;

        ul {
            li {
                font-size: $button-font-size;
                padding-left: 14px;
            }
        }
    }

    nav.disabled {
        height: 10px;
        position: absolute;
        width: 100%;
        top: 33px;
        right: 0px;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;

        ul {
            li {
                font-size: $button-font-size;
                padding-left: 14px;
            }
        }
    }

    .btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 1rem;
    }

    #hamburguer {
        display: block;
        width: 20px;
        border-top: 2px solid var(--black);
    }

    #hamburguer::after,
    #hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: var(--black);
        margin-top: 5px;
    }
}

@mixin aplicacoes-p {
    color: var(--black);
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px 0 100px 0;
    line-height: 1.5;
}

@mixin aplicacoes-h3 {
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    color: var(--black);
    padding-bottom: 60px;
}

@mixin aplicacoes-tecnologias($grid) {
    display: grid;
    grid-template-columns: $grid;
    padding-bottom: 20px;
    text-align: right;
}

@mixin aplicacoes-tecnologias-p {
    font-size: 24px;
    font-weight: 400;
    color: var(--black);
    padding: 0;
    margin: auto 0px auto auto;
}

@mixin aplicacoes-tecnologias-img {
    width: 35px;
    text-align: center;
    margin-left: 50px;
}

@mixin projetos-responsividade-tablet {
    .view {
        text-align: center;

        img {
            width: 90%;
        }

        p {
            max-width: 600px;
        }
    }
}

@mixin projetos-responsividade-mobile {
    .view {
        p {
            max-width: 350px;
            font-size: 22px;
        }
    }

    .tecnologias {
        li {
            p {
                font-size: 22px;
            }
        }
    }
}