<div class="container">
    <h1>Formação</h1>
    <ul>
        <li class="escola">
            <p>Ensino Médio</p>
            <p class="local">Centro Educacional La Salle</p>
            <p class="data">2018</p>
        </li>
        <li></li>
        <li></li>
        <li class="faculdade">
            <p>Ensino Superior</p>
            <p class="local">Universidade Paulista</p>
            <p class="data">2020 - 2024</p>
        </li>
        <li class="estagio">
            <p>Estágio</p>
            <p class="local">FIT - Instituto de Tecnologia</p>
            <p class="data">2022 - Até o presente momento</p>
        </li>
        <li></li>
    </ul>
</div>