@import '../../../../assets/scss/mixin';

:host {

    .container {
        padding-top: 100px;

        h1 {
            @include page-h1;
            width: 70%;
            margin: 0 auto;
        }

        ul {
            display: grid;
            grid-template-columns: repeat(2, 2fr);
            padding-top: 40px;

            li {
                font-size: 24px;
                text-align: center;
            }

            .escola,
            .estagio {
                @include page-formacao(right);
            }


            .faculdade {
                @include page-formacao(left);
            }
        }

    }
}


// Responsividade para tablet
@media screen and (max-width: 1024px) {
    :host {
        .container {
            h1 {
                width: 90%;
            }

            ul {

                .escola,
                .estagio,
                .faculdade {
                    margin: 0px 90px 50px 90px;
                    border-radius: 35px;
                    text-align: center;
                }

                .escola {
                    @include page-formacao-grid;
                }

                .estagio {
                    @include page-formacao-grid;
                }

                .faculdade {
                    @include page-formacao-grid;

                }
            }
        }
    }
}

// Responsividade para Mobile
@media screen and (max-width: 480px) {
    :host {
        .container {
            h1 {
                font-size: 28px;
            }

            ul {
                li {
                    font-size: 22px;
                }

                .escola,
                .estagio,
                .faculdade {
                    margin: 0px 30px 50px 30px;
                }
            }
        }
    }
}