.container {
    max-width: 1800px;
    margin: 60px auto;
    padding-bottom: 60px;

    .tabela {
        margin-top: 80px;

        table {
            margin: 0 auto;
        }

        td {
            vertical-align: middle;
            font-size: 18px;
        }

        table,
        tr,
        td {
            border: 2px solid black;
            padding: 25px;
            text-align: center;
        }

        .cabecalho {
            td {
                font-weight: 600;
                font-size: 18px;
            }
        }
    }
}