.container {
    max-width: 1800px;
    margin: 60px auto;
    padding-bottom: 60px;

    .tabela {
        margin-top: 80px;

        table {
            margin: 0 auto;
        }

        td {
            vertical-align: middle;
            font-size: 18px;
        }

        table,
        tr,
        td {
            border: 2px solid black;
            padding: 25px;
            text-align: center;
        }

        .cabecalho {
            td {
                font-weight: 600;
                font-size: 18px;
            }
        }
    }
}

// Responsividade para tablet
@media screen and (max-width: 1024px) {
    .container {
        margin-top: 80px;

        .echarts {
            display: none;
        }

        .tabela {
            max-width: 700px;
            margin: 0 auto;

            .nome {
                padding-bottom: 15px;
                line-height: 1.15;
            }
        }
    }
}

// Responsividade para mobile
@media screen and (max-width: 480px) {
    .container {
        max-width: 350px;

        .tabela {

            table,
            tr,
            td {
                padding: 15px;
            }

            .image {
                display: none;
            }
        }
    }

}