<div class="container">
    <div class="expansion-panel">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ dadosTitulosCertificados[0] }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="certificados" *ngFor="let item of dadosCertificadosJs">
                    <img [src]="item" alt="certificado">
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ dadosTitulosCertificados[1] }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="certificados" *ngFor="let item of dadosCertificadosTs">
                    <img [src]="item" alt="certificado">
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ dadosTitulosCertificados[2] }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="certificados" *ngFor="let item of dadosCertificadosAngular">
                    <img [src]="item" alt="certificado">
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ dadosTitulosCertificados[3] }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="certificados" *ngFor="let item of dadosCertificadosGit">
                    <img [src]="item" alt="certificado">
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ dadosTitulosCertificados[4] }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="certificados" *ngFor="let item of dadosCertificadosDocker">
                    <img [src]="item" alt="certificado">
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ dadosTitulosCertificados[5] }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="certificados" *ngFor="let item of dadosCertificadosSql">
                    <img [src]="item" alt="certificado">
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>