.container-projects {
    display: flex;
    flex-direction: row;
}

// header {
//     margin-bottom: 80px;
// }

// // Responsividade para tablet
// @media screen and (max-width: 1024px) {
//     header {
//         margin-bottom: 60px;
//     }
// }

// // Responsividade para mobile
// @media screen and (max-width: 480px) {
//     header {
//         margin-bottom: 46px;
//     }
// }