<div class="container-projects">
    <div class="nav">
        <app-nav></app-nav>
    </div>
    <div class="projects">
        <div class="header">
            <h4>My Best Projects</h4>
        </div>
        <div class="section-projects">
            <div class="carousel-container" *ngFor="let item of dataProjects">
                <p-carousel [value]="item.image" [numVisible]="1" [numScroll]="1"
                    [responsiveOptions]="responsiveOptions">
                    <ng-template let-imgUrl pTemplate="item">
                        <div class="product-card">
                            <div class="product-image-container">
                                <div class="image-wrapper">
                                    <img [src]="'assets/images/aplicacoes/' + imgUrl" [alt]="item.text"
                                        title="{{item.text}}" class="product-image" />
                                </div>
                            </div>
                            <div class="product-name">{{ item.text }}</div>
                        </div>
                    </ng-template>
                </p-carousel>
            </div>
        </div>
    </div>
</div>