<div class="container-nav">

    <div class="navigation">
        <button class="hamburger" (click)="toggleMenu()">
            <span [class.open]="isOpen"></span>
            <span [class.open]="isOpen"></span>
            <span [class.open]="isOpen"></span>
        </button>

        <header class="header">
            <div class="image-perfil">
                <img src="./assets/images/foto-perfil-img.jpg" alt="Foto de Lucas Sotero">
                <div *ngIf="availableForWork" class="available-work">
                    <img src="../../../../assets/images/icons/icon-circle-available.svg" alt="circulo de disponivel">
                    <p>Available for Work</p>
                </div>

                <div *ngIf="!availableForWork" class="not-available-work">
                    <img src="../../../../assets/images/icons/icon-circle-not-available.svg"
                        alt="circulo de não disponivel">
                    <p>Not Available for Work</p>
                </div>
            </div>

        </header>
    </div>

    <!-- Menu fixo (desktop) -->
    <nav class="menu-desktop">
        <ul *ngFor="let item of menuItems" class="body-items" [ngClass]="item.home">
            <li>
                <span [ngClass]="item.image" alt="Ícone de Projetos"></span>
                <a (click)="navigateTo(item.link)">{{ item.name }}</a>
            </li>
        </ul>
    </nav>

    <nav class="menu-responsive" [class.open]="isOpen">
        <ul *ngFor="let item of menuItems" class="body-items" [ngClass]="item.home">
            <li>
                <span [ngClass]="item.image" alt="Ícone de Projetos"></span>
                <a (click)="navigateTo(item.link)">{{ item.name }}</a>
            </li>
        </ul>
    </nav>


</div>