@use '../../../assets/scss/mixin';

.container-nav {
    background-color: var(--background-nav);
    width: 100%;
    height: 100%;
    text-align: -webkit-center;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .navigation {
        .hamburger {
            display: none;
        }
    }


    header {
        .image-perfil {
            text-align: -webkit-center;

            img {
                border-radius: 12px;
                width: 300px;
                height: 300px;
            }

            .available-work {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background-color: var(--background-available-work);
                border-radius: 12px;
                width: 295px;
                padding: 8px;

                img {
                    width: 12px;
                    height: 12px;
                }

                p {
                    color: var(--text-available-work);
                    font-weight: 600;
                    margin-left: 5px;
                }
            }

            .not-available-work {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background-color: var(--background-not-available-work);
                border-radius: 12px;
                width: 295px;
                padding: 8px;

                img {
                    width: 12px;
                    height: 12px;
                }

                p {
                    color: var(--text-not-available-work);
                    font-weight: 600;
                    margin-left: 5px;
                }
            }
        }
    }

    nav.menu-desktop {
        display: flex;
        flex-direction: column;
        gap: 30px;

        ul {
            li {
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: center;
                width: fit-content;

                .item-user {
                    width: 32px;
                    height: 32px;
                    background-image: url('/assets/images/icons/icon-user.svg');
                }

                .item-projects {
                    width: 32px;
                    height: 32px;
                    background-image: url('/assets/images/icons/icon-projects.svg');
                }

                .item-stack {
                    width: 32px;
                    height: 32px;
                    background-image: url('/assets/images/icons/icon-stack.svg');
                }

                .item-certificate {
                    width: 32px;
                    height: 32px;
                    background-image: url('/assets/images/icons/icon-certificate.svg');
                }

                .item-contact {
                    width: 32px;
                    height: 32px;
                    background-image: url('/assets/images/icons/icon-contact.svg');
                }

                a {
                    font-family: 'Inter', sans-serif;
                    font-size: 20px;
                    font-weight: 600;
                    color: var(--text-menu);

                }

                &:hover {
                    cursor: pointer;

                    a {
                        color: var(--text-nav-hover);
                    }

                    .item-projects {
                        background-image: url('/assets/images/icons/icon-projects-hover.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                    }

                    .item-stack {
                        background-image: url('/assets/images/icons/icon-stack-hover.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                    }

                    .item-certificate {
                        background-image: url('/assets/images/icons/icon-certificate-hover.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                    }

                    .item-contact {
                        background-image: url('/assets/images/icons/icon-contact-hover.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                }

            }

        }
    }
}

/* Responsividade */
@media (max-width: 1368px) {
    .container-nav {
        width: 100%;
        box-sizing: border-box;
        gap: 0;

        .navigation {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 15px;

            .hamburger {
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                border: none;
                background: transparent;
                padding: 0;
            }

            .hamburger span {
                width: 28px;
                height: 4px;
                background: #fff;
                border-radius: 4px;
                position: absolute;
                transition: 0.3s ease;
            }

            .hamburger span:nth-child(1) {
                transform: translateY(-10px);
            }

            .hamburger span:nth-child(2) {
                transform: translateY(0);
            }

            .hamburger span:nth-child(3) {
                transform: translateY(10px);
            }

            .hamburger span.open {
                width: 4px;
                height: 28px;
            }

            .hamburger span:nth-child(1).open {
                transform: translateX(-12px);
            }

            .hamburger span:nth-child(2).open {
                transform: translateX(0);
            }

            .hamburger span:nth-child(3).open {
                transform: translateX(12px);
            }

            .header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .image-perfil {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    align-items: center;

                    img {
                        display: none;
                    }

                    div {
                        height: 40px;
                    }
                }

                .p-button {
                    height: fit-content;
                }
            }
        }

        .menu-responsive {
            width: 100%;
            display: none;
            flex-direction: column;
            // background: var(--background-stacks-item);

            ul {
                li {
                    padding: 15px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;

                    .item-user {
                        width: 32px;
                        height: 32px;
                        background-image: url('/assets/images/icons/icon-user.svg');
                    }

                    .item-projects {
                        width: 32px;
                        height: 32px;
                        background-image: url('/assets/images/icons/icon-projects.svg');
                    }

                    .item-stack {
                        width: 32px;
                        height: 32px;
                        background-image: url('/assets/images/icons/icon-stack.svg');
                    }

                    .item-certificate {
                        width: 32px;
                        height: 32px;
                        background-image: url('/assets/images/icons/icon-certificate.svg');
                    }

                    .item-contact {
                        width: 32px;
                        height: 32px;
                        background-image: url('/assets/images/icons/icon-contact.svg');
                    }

                    a {
                        font-size: 16px;
                        font-weight: 600;
                        color: var(--text-menu);
                    }
                }
            }
        }

        .menu-responsive.open {
            display: flex;
        }

        nav.menu-desktop {
            display: none;
        }
    }

}