@import '../../../../assets/scss/mixin';

:host {
    .container {
        display: flex;
        flex-direction: column;

        .dados {
            @include page-dados-espacamento(70px, 0px, 0px, 10px);

            h1 {
                @include page-h1;
                width: 70%;
                margin: 0 auto;
            }

            ul {
                width: 50%;
                margin: 0 auto;
                display: grid;
                grid-template-columns: repeat(2, 2fr);

                li {
                    text-align: center;
                    padding: 20px;
                    font-size: 24px;
                }
            }
        }

        .resumo {
            @include page-dados-espacamento(70px, 0px, 0px, 10px);

            h1 {
                @include page-h1;
                width: 70%;
                margin: 0 auto;
            }

            p {
                color: var(--black);
                font-size: 24px;
                text-align: justify;
                line-height: 1.5;
                width: 70%;
                margin: 0 auto;
            }
        }
    }
}

// Responsividade para Laptops
@media screen and (max-width: 1280px) {
    :host {
        .container {
            .dados {
                ul {
                    grid-template-columns: repeat(1, 4fr);
                }
            }
        }
    }
}


// Responsividade para Tablet
@media screen and (max-width: 1024px) {
    :host {
        .container {
            display: flex;
            flex-direction: column;

            .dados {
                @include page-dados-espacamento-tablet;
            }

            .resumo {
                @include page-dados-espacamento-tablet;

                p {
                    width: 90%;
                }
            }
        }
    }
}

// Responsividade para Mobile
@media screen and (max-width: 480px) {
    :host {
        .container {
            display: grid;
            grid-template-columns: repeat(1);

            .dados {
                width: 100%;

                h1 {
                    font-size: 26px;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    width: 90%;

                    li {
                        font-size: 22px;
                        padding-left: 0px;
                    }
                }
            }

            .resumo {
                width: 100%;

                h1 {
                    font-size: 26px;
                }

                p {
                    font-size: 22px;
                }
            }
        }
    }
}