@import '../../../../assets/scss/mixin';

:host {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .dados {
            @include page-dados-espacamento(70px, 10px, 0px, 10px);

            h1 {
                @include page-h1;
            }

            ul {
                display: grid;
                grid-template-columns: repeat(2, 2fr);

                li {
                    text-align: center;
                    padding: 20px;
                    font-size: 24px;
                }
            }
        }

        .resumo {
            @include page-dados-espacamento(70px, 80px, 0px, 10px);

            h1 {
                @include page-h1;
            }

            p {
                color: var(--black);
                font-size: 24px;
                text-align: justify;
                line-height: 1.5;
            }
        }
    }
}

// Responsividade para Laptops
@media screen and (max-width: 1280px) {
    :host {
        .container {
            .dados {
                ul {
                    grid-template-columns: repeat(1, 4fr);
                }
            }
        }
    }
}


// Responsividade para Tablet
@media screen and (max-width: 1024px) {
    :host {
        .container {
            display: flex;
            flex-direction: column;
            padding: 0px 40px;

            .dados {
                @include page-dados-espacamento-tablet;
            }

            .resumo {
                @include page-dados-espacamento-tablet;
            }
        }
    }
}

// Responsividade para Mobile
@media screen and (max-width: 480px) {
    :host {
        .container {
            display: flex;
            flex-direction: column;
            padding: 0px 35px;

            .dados {
                width: 100%;

                h1 {
                    font-size: 28px;
                }

                ul {
                    display: flex;
                    flex-direction: column;

                    li {
                        font-size: 22px;
                    }
                }
            }

            .resumo {
                width: 100%;

                h1 {
                    font-size: 28px;
                }

                p {
                    font-size: 22px;
                }
            }
        }
    }
}