<div class="container">
    <div class="dados">
        <h1>Dados</h1>
        <ul>
            <li>luucassotero@gmail.com</li>
            <li>(92) 99380-0146</li>
            <li>18/06/2001</li>
            <li>Manaus/AM</li>
        </ul>
    </div>
    <div class="resumo">
        <h1>Resumo</h1>
        <p>Me chamo Lucas Sotero, me interesso por tecnologia desde que ganhei meu primeiro computador, desde então tem sido um aprendizado sem fim. Atualmente sou um Dev Front-End se desenvolvendo cada vez mais, almejo me tornar em Dev Full-Stack em um
            futuro próximo.</p>
    </div>
</div>