@import './assets/scss/_reset';

:root {
    --primary: #696969;
    --body: #A9A9A9;
    --text-menu: #FFF;
    --text-body: #A9A9A9;
    --black: #000000;
    --background-nav: #050505;
    --background-item-home: #1A1A1A;
    --background-available-work: #062D1D;
    --background-not-available-work: #2D0606;
    --text-available-work: #4CE6A6;
    --text-not-available-work: #EC7979;
    --text-nav-home: #E6E6E6;
    --text-nav-disabled: #999999;
    --text-nav-hover: #4ce6a6;
}

body {
    background-color: var(--body);
}

.content {

    h1,
    h2,
    h3,
    h4,
    p {
        color: var(--text-body);
        margin: 0;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}