@import './assets/scss/_reset';

:root {
    --primary: #696969;
    --body: #A9A9A9;
    --text-menu: #FFF;
    --text-body: #A9A9A9;
    --black: #000000;
}

// :root .dark-theme {
//     --primary: #0D47A1;
//     --body: #FFF;
//     --text-menu: #FFF;
//     --text-body: #FFF;
// }
body {
    background-color: var(--body);
}

.content {

    h1,
    h2,
    h3,
    h4,
    p {
        color: var(--text-body);
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import './app/components/projetos/tabs/tabs.component.scss';